/* Estilo del modal */
.modal.hidden {
    display: none;
}

.modal.show {
    display: flex;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 1rem; /* Espaciado interno del modal */
    overflow: hidden; /* Evitar que el contenido salga del modal */
}

/* Estilo del contenido del modal */
.modal-content {
    background-color: white;
    padding: 30px; /* Aumentar el padding para más espacio interior */
    border-radius: 12px; /* Bordes más redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    text-align: center;
    position: relative;
    max-width: 500px; /* Ancho máximo */
    width: 100%;
    max-height: 85vh; /* Limitar la altura del modal */
    overflow-y: auto; /* Permitir el desplazamiento vertical dentro del modal */
}

@media (min-width: 640px) {
    .modal-content {
        max-width: 500px; /* Ancho máximo en pantallas medianas */
    }
}

@media (min-width: 768px) {
    .modal-content {
        max-width: 600px; /* Ancho máximo en pantallas grandes */
    }
}

@media (min-width: 1024px) {
    .modal-content {
        max-width: 700px; /* Ancho máximo en pantallas extra grandes */
    }
}

/* Estilo para el botón de cierre en la esquina superior derecha */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #6c757d; /* Gris */
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #343a40; /* Gris más oscuro */
}

/* Estilos para los botones dentro del modal */

/* Botón General */
.adminCardButton {
    background-color: #007BFF; /* Azul profesional */
    color: white;
    padding: 12px 24px;
    border-radius: 8px; /* Bordes más redondeados */
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 10px 5px; /* Espaciado entre botones */
}

.adminCardButton:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Botón Eliminar */
.adminCardButton.delete {
    background-color: #dc3545; /* Rojo de advertencia */
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.adminCardButton.delete:hover {
    background-color: #c82333; /* Rojo más oscuro al pasar el mouse */
}

/* Botón Ocultar */
.adminCardButton.hide {
    background-color: #6c757d; /* Color gris */
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adminCardButton.hide:hover {
    background-color: #5a6268; /* Oscurecer al pasar el mouse */
}

/* Estilo para los ítems de producto dentro del modal */
.productoEliminar {
    background-color: #f8f9fa; /* Fondo gris claro */
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.productoEliminar span {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

/* Botón Eliminar dentro de los ítems */
.btnEliminar {
    background-color: #ef4444;
    border-radius: 9999px; /* Hacer que el borde sea completamente redondeado */
    color: #ffffff;
    padding: 10px 20px; /* Aumentar el padding para hacer el botón más grande */
    font-weight: 700;
    font-size: 1rem; /* Aumentar el tamaño de la fuente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agregar una sombra ligera */
    transition: all 0.3s ease-in-out;
    border: 2px solid #e11d48; /* Agregar un borde sólido */
}

.btnEliminar:hover {
    background-color: #dc2626;
    transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el mouse */
}

.btnEliminar:active {
    background-color: #b91c1c;
    transform: scale(0.95); /* Reducir ligeramente el tamaño al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reducir la sombra al hacer clic */
}
